# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
backend/venv/
venv/

# Environment variables
.env
**/.env
.env.local
.env.*
!.env.example

# Django
*.log
media/
staticfiles/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Node (for frontend later)
node_modules/